.app_title {
    padding: 44px 0 23px 0;
    position: relative;
}

.app_title__mobile_menu {
    display: none;
}

.app_title__more_info {
    display: none;
}

.app_title__main_card {
    display: flex;
    flex-direction: column;
    height: 234px;
    background-color: var(--main_card_bg--light);
    border-radius: 40px;
    box-shadow: 0px 22px 59px rgba(42, 134, 229, 0.07);
}

.app_title__background_card {
    padding: 0 56px;
    height: 184px;
    background: url('@/images/app_bg.jpg') center/cover no-repeat, #161c3ab0;
    background-blend-mode: darken;  
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

.app_title__left {
    display: flex;
    align-items: center;
}

.app_title__favicon {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.16);
    margin: 0 24px 0 0;
}

.app_title__title_links {
    display: flex;
    flex-direction: column;
}

.app_title__title {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.app_title__links {
    list-style: none;
    display: flex;
}

.app_title__link {
    border-radius: 17px;
    margin: 0 8px 0 0;
    color: #fff;
    border: 1px solid #fff;
}

.app_title__link--secondary {
    border: 1px solid #fff;
    background: unset;
}

.app_title__link--primary {
    border: unset;
    background: linear-gradient(90deg, #0DD0BA 0%, #2A86E5 100%);
}

.app_title__link a {
    display: flex;
    padding: 2px 13px;
    align-items: center;
}

.app_title__link a img {
    margin: 0 3px 0 0;
}

.app_title__link a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

.app_title__right {
    display: flex;
    padding: 58px 0 45px 0;
}

.app_title__rate {
    position: relative;
    background: rgba(0,0,0,0.44);
    height: 85px;
    width: 85px;
    border-radius: 100%;
    margin: 0px 12px 0 0;
}

.app_title__outer {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_title__inner {
    height: 70.5px;
    width: 70.5px; 
    display: flex;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
}

.app_title__rate circle {
    transform-origin: center;
    transform: rotate(270deg);
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 8.2px;
    stroke-dasharray: 450;
    stroke-dashoffset: 300;
}

.app_title__rate svg {
    position: absolute;
    top: 0;
    left: 0;
}

.app_title__rate_title {
    font-size: 24px;
    color: #fff;
    font-weight: 800;
}

.app_title__rate_count {
    font-size: 16px;
    color: #fff;
    line-height: 16px;
    font-weight: 500;
}

.app_title__user_rating {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.app_title__rating_bold {
    font-size: 20px;
    font-weight: 700;
    color: #F9B936;
}

.app_title__bottom {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 41px;
}

.app_title__menu_list, .app_title__rating_list {
    display: flex;
    list-style: none;
}

.app_title__menu_item {
    color: #707070;
}

.app_title__menu_item a {
    font-weight: 400;
    font-size: 16px;
    padding: 0 18px;
    border-right: 1px solid #707070;
}

.app_title__menu_item:last-child a{
    border-right: none;
}

.app_title__menu_item a:link, .app_title__menu_item a:visited {
    color: inherit;
    text-decoration: none;
}

.app_title__set_rating {
    position: relative;
}

.app_title__rating_overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100.4%;
    background: linear-gradient(to left, #EBF6F5 0%, #EBF6F5 10%, #ffffff00 0%, #ffffff00 100%);
    border-radius: 17px;
}

.app_title__rating_list {
    cursor: pointer;
    position: relative;
    background: linear-gradient(270deg, #FCC539 0%, #DC4A19 100%);
    border-radius: 17px;
}

.app_title__rating_item {
    z-index: 1;
    color: #707070;
    padding: 5px 5px;
    border-right: 1px solid #707070;
}

.app_title__rating_item:last-child {
    border-right: none;
    padding: 5px 8px;
}

.app_title__rating_item:nth-child(1) {
    padding: 5px 10px;
}

.app_title__rating_item:nth-child(2) {
    padding: 5px 8px;
}

.app_title__rating_item--active {
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 991px) {
    .app_title__main_card {
        flex-direction: column;
        height: 280px;
    }

    .app_title__background_card {
        padding: 0 30px;
    }

    .app_title__title {
        font-size: 24px;
    }

    .app_title__links {
        flex-wrap: wrap;
    }

    .app_title__link {
        margin: 0 8px 5px 0;
    }

    .app_title__bottom {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .app_title {
        padding: 0;
        background-color: var(--main_card_bg--light);
        box-shadow: 0px 22px 59px rgba(42, 134, 229, 0.07);
    }

    .app_title__main_card {
        border-radius: 0px;
        height: 226px;
        box-shadow: none;
    }

    .app_title__background_card {
        background: url('@/images/app_bg_tablet.jpg') center/cover no-repeat, #161c3ab0;
        height: 180px;
        display: flex;
        align-items: center;
    }

    .app_title__title {
        font-size: 35px;
    }    

    .app_title__links, .app_title__right {
        display: none;
    }

    .app_title__bottom {
        flex-basis: unset;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    .app_title__menu_list {
        display: none;
    }

    .app_title__set_rating {
        display: none;
    }

    .app_title__more_info {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        color: var(--main_card_more_info--light);
    }

    .app_title__mobile_btn {
        margin: 0 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 15px;
        width: 20px;
    }

    .app_title__mobile_btn span {
        background-color: var(--main_card_more_info--light);
        border-radius: 1px;
        height: 3px;
        width: inherit;
    }

    .app_title__mobile_menu--active {
        display: block;
    }

    .app_title__mobile_menu .app_title__menu_list {
        background-color: var(--main_card_bg--light);
        display: flex;
        flex-direction: column;
        /* width: 100vw; */
        padding: 7px 0 36px 0;
        box-shadow: 0px 22px 59px rgba(42, 134, 229, 0.07);
    }

    .app_title__mobile_menu .app_title__menu_item span {
        background: linear-gradient(to right, #0DD0BA 0%, #2A86E5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .app_title__mobile_menu .app_title__menu_item {
        margin: 0 0 12px 0;
    }

    .app_title__mobile_menu .app_title__menu_item:last-child {
        margin: 0;
    }

    .app_title__mobile_menu .app_title__menu_item a {
        padding: 0 0 12px 0;
        display: block;
        text-align: center;
        width: 350px;
        margin: 0 auto;
        border: none;
        font-size: 20px;
        font-weight: 700;
        position: relative;
    }

    .app_title__mobile_menu .app_title__menu_item--active a {
        padding: 7px 0;
    }

    .app_title__mobile_menu .app_title__menu_item--active a::after {
        content: '';
        position: absolute;
        display: block;
        height: 5px;
        width: 24px;
        border-radius: 40px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(to right, #0DD0BA 0%, #2A86E5 100%);
    }
}

@media (max-width: 576px) {
    .app_title__title {
        font-size: 24px;
    }

    .app_title__main_card {
        height: 175px;
    }

    .app_title__favicon {
        height: 89px;
        width: 89px;
        margin: 0 15px 0 0;
    }

    .app_title__background_card {
        padding: 0 20px;
        border-radius: 30px;
        height: 129px;
        background: url('@/images/app_bg_mobile.jpg') center/cover no-repeat, #161c3ab0;
    }

    .app_title__menu_list {
        padding: 0px 0 36px 0;
    }
}