@font-face {
    font-family: 'Red Hat Display';
    src: url('@/fonts/RedHatDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Red Hat Display';
    src: url('@/fonts/RedHatDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Red Hat Display';
    src: url('@/fonts/RedHatDisplay-Italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('@/fonts/RedHatDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('@/fonts/RedHatDisplay-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('@/fonts/RedHatDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

