.header {
    height: 50px;
    background: var(--header_gradient);
}

.header__wrapper, header .container {
    height: 100%;
}

.header__wrapper {
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu_list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.header .icon {
    font-size: unset;
}

.header__menu_item {
    margin: 0 39px 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.header__menu_item:last-child {
    margin: 0;
}
.header__menu_item a:link,  .header__menu_item a:visited{
    color: #fff;
    text-decoration: none;
}

.header__side_menu {
    display: flex;
    justify-content: space-between;
}

.header__theme_switcher {
    cursor: pointer;
    height: 29px;
    width: 54px;
    padding: 2px 3px;
    border-radius: 50px;
    background-color: var(--theme_switcher_bg--light);
}

.header__theme_state {
    background: url('@/icons/functional/theme_dark.svg') center / center no-repeat;
    background-color: #183A5D;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}