.subheader {
    height: 110px;
    background-color: var(--subheader_bg--light);
}

.subheader__mobile_menu {
    display: none;
}

.subheader__wrapper, .subheader .container {
    height: 100%;
}

.subheader__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader__logo {
    margin: 0 62px 0 0;
}

.subheader__left {
    display: flex;
}

.subheader__menu_list {
    display: flex;
    list-style: none;
}

.subheader__menu_item a:link, .subheader__menu_item a:visited {
    font-weight: 500;
    font-size: 18px;
    color: var(--subheader__menu_items--light);
    text-decoration: none;
}

.subheader__menu_item {
    margin: 0px 30px 0 0;
}

.subheader__menu_item:last-child {
    margin: 0;
}

.subheader__search {
    position: relative;
}

.subheader__search input {
    padding: 8px 24px;
    font-weight: 400;
    font-size: 16px;
    height: 42px;
    width: 175px;
    border: none;
    border-radius: 40px;
    background-color: var(--search_bg--light);
    color: var(--search_text_light);
}

.subheader__search img {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.subheader__mobile_menu_btn {
    display: none;
}

@media(max-width: 991px) {
    .subheader__logo {
        margin: 0 15px 0 0;
    }

    .subheader__menu_item {
        margin: 0px 11px 0 0;
    }
}

@media(max-width: 768px) {
    .subheader {
        height: 60px;
        position: relative;
    }
    .subheader__menu, .subheader__search {
        display: none;
    }
    .subheader__mobile_menu_btn {
        margin: 0 10px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 21px;
        width: 25px;
    }

    .subheader__mobile_menu_btn span {
        transition: all 0.5s;
        background-color: #2A86E5;
        border-radius: 1px;
        height: 3px;
        width: inherit;
    }

    .subheader__mobile_menu_btn--active {
        position: relative;
    }

    .subheader__mobile_menu_btn--active span:nth-child(2) {
        display: none;
    }

    .subheader__mobile_menu_btn--active span:first-child {
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
    }

    .subheader__mobile_menu_btn--active span:last-child {
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
    }

    .subheader__mobile_menu--active {
        display: block;
        position: relative;
    }

    .subheader > .subheader__mobile_menu--active {
        overflow: scroll;
        background-color: var(--subheader_bg--light);
        position: absolute;
        width: 100%;
        height: calc(100vh - 110px);
    }

    .subheader__mobile_menu--active .subheader__search,  .subheader__mobile_menu--active .subheader__search label{
        display: block;
    }

    .subheader__mobile_menu--active .subheader__search {
        margin: 10px 0 0 0;
    }

    .subheader__mobile_menu--active .subheader__search input {
        width: 100%;
    }

    .subheader__mobile_menu--active .subheader__menu {
        height: 58vh;
        display: block;
    }

    .subheader__mobile_menu--active .header__menu .header__menu_item {
        display: flex;
    }

    .subheader__mobile_menu--active .subheader__menu_list {
        margin: 75px 0 0 0;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .subheader__mobile_menu--active .subheader__menu_item {
        margin: 0;
    }

    .subheader__mobile_menu--active .header__menu {
        position: absolute;
        top: 94.5%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100%;
    }

    .subheader__mobile_menu--active .header__menu_item {
        margin: 0 32px 0 0;
        font-size: 18px;
    }

    .subheader__mobile_menu--active .header__menu_item a {
        color: var(--subheader__mobile_menu_items--light);
    }

    .subheader__mobile_menu--active .icon svg path {
        fill: var(--subheader__mobile_menu_items--light);
    }
}

@media (max-width: 576px) {
    .subheader__mobile_menu--active .header__menu_item {
        margin: 0 5px 0 0;
    }
}

@media (max-width: 500px) {
    .subheader__mobile_menu--active .subheader__menu_list {
        margin: 50px 0 0 0;
    }

    .subheader__mobile_menu--active .header__menu {
        position: static;
        transform: none;
        margin: 90px 0 0 0;
        height: 20vh;
    }

    .subheader__mobile_menu--active .header__menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .subheader__mobile_menu--active .header__menu_item {
        margin: 0;
        display: block;
    }
}