@import 'blocks/_fonts.css';
@import 'blocks/_header.css';

:root {
    --theme_switcher_bg--light: #fff;
    --theme_switcher_bg--dark: #183A5D;

    --subheader__menu_items--light: #2A86E5;
    --subheader__menu_items--dark: #0DD0BA;

    --search_bg--light: #EEEEEE;
    --search_bg--dark: #183A5D;

    --search_text--light: #757575;
    --search_text--dark: #fff;

    --main_bg--light: #FCFCFC;
    --main_bg--dark: #0E1219;

    --contacts_bg--light: #fff;
    --contacts_bg--dark: #202434;

    --contacts_text--light: #0DD0BA;
    --contacts_text--dark: #fff;

    --header_gradient: linear-gradient(90deg, #0DD0BA 0%, #2A86E5 100%);
}


*, li, ul{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.progress-indicator {
    position: relative;
    background: rgba(0,0,0,0.44);
    height: 85px;
    width: 85px;
    border-radius: 100%;
}

.progressline {
    border-radius: 100%;
    /* background: conic-gradient(from -40.59deg at 52% 49.77%, #DC4A19 0deg, #FCC539 43.78deg, #DC4A19 360deg); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating {
    height: 70.5px;
    width: 70.5px; 
    display: flex;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
}
.progress-indicator circle {
    transform-origin: center;
    transform: rotate(270deg);
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 8.2px;
    stroke-dasharray: 450;
    stroke-dashoffset: 300;
}

.progress-indicator svg {
    position: absolute;
    top: 0;
    left: 0;
}





